<h2 class="blog-post-title"><%= link_to blog.title.upcase, blog %></h2>
<p class="blog-post-meta">Published <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago (<%= blog.created_at.to_date %>) by <%= current_user.first_name %></p>
<p class="blog-post-meta">
<% if logged_in?(:admin) %>
  <%= link_to blog.status.capitalize, change_status_blog_path(blog) %> /
  <%= link_to 'Edit', edit_blog_path(blog) %> /
  <%= link_to 'Delete entry', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
</p>
<p>  <%= blog.body %> </p>
