<h1>Rails projects</h1>

<%= link_to 'New project item', new_portfolio_path if logged_in?(:admin) %>

<h1>Projects</h1>
<% @rails_items.each do |project| %>
  <p /><%= link_to project.title, portfolio_show_path(project) %>
  <p /><%= project.subtitle %>
  <p /><%= project.body %>
  <p /><%= image_tag project.thumbnail unless project.thumbnail.nil? %>
  <%= link_to 'Edit', edit_portfolio_path(project) if logged_in?(:admin) %>
  <%= link_to 'Delete project', project, method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:admin) %>
<% end %>
